// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 960px)
{
	.w-md-75 {
		width : 75% !important;
	}
}

.btn{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-weight: 500;
}

.mdi{
	font-size: 16px !important;
	font-weight: 700;
}

