// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 960px)
{
	.w-md-75 {
		width : 75% !important;
	}
}

.btn{
	font-family: 'Helvetica', sans-serif;
}

.btn-google{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500 !important;
	color: #292929;
	background-color: white;
}

.btn-google:hover{
	background: #FFFFFF !important;
	border-color: black !important;
}